.dados
{
    display: flex;
    background: url(../../imgs/dadosRelogio.png);
    background-size: cover;
    margin-top: 50px;
    min-height: 60vh; // Tamanho da tela, quando não quero consumir 100% da foto
    align-items: center; 
}
.container-dados
{
    display: flex;
    margin: 20px;
}
.card
{
    width: 18rem;
    margin: 10px;
    background-color: $Preto_Premium;
    color: $Branco_Gelo;
}
.card-title
{
    text-align: center;
}
.card-text
{
    text-align: center;
}
.hr-dados
{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) 
{
    .container-dados
    {
        margin: 0 auto;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card
    {
        margin-top: 10px;
    }

}